/.vscode
/a.exe
/addstack.exe
/array.exe
/arrayimplink.exe
/avltree.exe
/binaryquestion.exe
/binarytree.exe
/binarytreeop.exe
/bst.exe
/bsttraverse.exe
/bt.exe
/circulardouble.exe
/circularlinked.exe
/circularQ.exe
/deleteneg.exe
/deque.exe
/diameterofbt.exe
/doublylist.exe
/hello.exe
/intopost.exe
/keertahnk.exe
/linkedlist.exe
/linkedlistimp.exe
/palindrome.exe
/postfixeval.exe
/pracice4.exe
/practice2.exe
/practice3.exe
/practice5.exe
/practice6.exe
/qcomp.exe
/qreverse.exe
/question1.exe
/queue.exe
/queueconcat.exe
/reverse1.exe
/stack.exe
/stackimplist.exe
/tictactoe.exe
/tree.exe
/treedm.exe
/treewidth.exe
/tries.exe
/window.exe
/xandy.exe